# Django / Python
*.log
*.pot
__pycache__
*.py[cod]
*$py.class
*.sqlite3
media/
*.db
*.pid

# PyCharm
.DS_Store
.idea
*.iws /out/ 

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Environment
.env
.venv
venv/
ENV/
.vscode

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule.*

# mkdocs documentation
/site

# mypy
.mypy_cache/
